body {
    margin: 0;
    background-color: rgb(224, 120, 48); /* #ed7011 */
    overflow-x: hidden;
}

h1 {
    font-family: 'Saddlebag';
    position: absolute;
    z-index: 1;
    font-size: 8vw;
    color: white;
    padding-top: 2vw;
    padding-left: 4vw;
    margin: 0;
}

@font-face {
    font-family: 'Saddlebag';
    src: url('../fonts/Saddlebag.ttf');
}

.scenery {
    width: 100vw;
    position: absolute;
}

.cloud {
    position: absolute;
    left: 18vw;
    top: 8vw;
}

#tracks {
    top: 100vh;
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
}

#train {
    z-index: 1;
    position: absolute;
    top: 100vh;

    animation-name: leftToRight;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#train img {
    position: absolute;
    width: 100vw;
    transform: translate(0, -100%);
}

#car2 {
    transform: translate(-90vw, 0);
}

#car3 {
    transform: translate(-180vw, 0);
}

@keyframes leftToRight {
    from {
        transform: translate(-110vw, -100%);
    }
    to {
        transform: translate(290vw, -100%);
    }
}
