body {
    margin: 0;
    background-color: rgb(224, 120, 48); /* #ed7011 */
}

.scenery {
    width: 100vw;
    position: absolute;
}

.cloud {
    position: absolute;
    left: 18vw;
    top: 8vw;
}

#tracks {
    top: 100vh;
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
}

h1 {
    font-family: 'Saddlebag';
    position: absolute;
    z-index: 1;
    font-size: 8vw;
    color: white;
    padding-top: 2vw;
    padding-left: 4vw;
    margin: 0;
}

@font-face {
    font-family: 'Saddlebag';
    src: url('../fonts/Saddlebag.ttf');
}
